.App {


  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html
{
  font-size: 62.25%;
  

}

@media (max-width: 991.98px) { 

  html {
    font-size: 55%;
  
}

}

@media (max-width: 768px) { 

  html {
    font-size: 50%;
  
}

}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
